.meus-filmes {
    margin-top: 14px;
}

.meus-filmes h1 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.meus-filmes ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: rgb(252, 231, 205);
    margin: 5px;
    border: 1px solid rgb(223, 219, 214);
    border-radius: 4px;

}

.meus-filmes img {
    max-width: 3em;
    max-height: 5em;
    border-radius: 5px;
    object-fit: cover;
    margin: 5px;

}

.meus-filmes h4 {
    text-align: center;
    font-size: clamp(0.5em, 0.5em + 0.5vw, 1.2em);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.meus-filmes div a {
    text-decoration: none;
    color: cornflowerblue;
    margin-right: 5px;
}

.meus-filmes div button {
    color: aliceblue;
    margin-right: 5px;
    width: 100px;
    margin: 5px;
    padding: 8px;
    border: 0px;
    background-color: rgb(241, 144, 25);
    border-radius: 4px;
    transition: all 0.5s;
}

.meus-filmes div button:hover {
    background-color: white;
    color: rgb(241, 144, 25);
}
