/* .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #f59a4f;
    background-color: #f5ebdf;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .5em;
    margin-top: .5em;
}

.dashboard span {
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: 600px;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    padding: 1.5%;
    background-color: #f59a4f;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #f59a4f;
    color: #ffffff;
    transition: ease-in-out .5s;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    outline: auto;

}

.new:hover {
    background-color: #ffffff;
    border: 1px solid #f59a4f;
    color: #f59a4f;
    font-size: 16px;
    font-weight: 600px;
}

table {
    border: 1px solid #f59a4f;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-spacing: .8em;
    width: 100%;
    table-layout: fixed;
    margin: 1% auto;
    background-color: #f5ebdf;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;

}

table thead tr {
    background-color: #f59a4f;
    color: #f5ebdf;
    font-size: 1.5em;
    font-weight: bolder;

}

table thead tr th {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: .5em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: .62em;
    outline: auto;
}

table th,
table td {
    text-align: center;

}

table td .action {
    border: 0;
    padding: 2%;
    margin-right: 2px;
    background-size: cover;

}

table td .action svg {
    vertical-align: middle;

}

table tbody tr td>button {
    background-color: #f59a4f;
    border-radius: 5px;
    transition: ease-in-out .5s;
    color: #ffffff;
}

table tbody tr td button+button {
    background-color: #f59a4f;
    border-radius: 5px;
} */

/* 

table tbody tr td button:hover {
    background-color: #ffffff;
    border-radius: 5px;
    color: #f59a4f;
} */

.griddashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1px auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 4px;
    transition: 0.3s;
    background-color: #f5ebdf;
    font-size: clamp(0.8em, 0.7em + 0.7vw, 1.2em);
    font-family: cursive;
}

.containercard {
    color: #222020;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1%;

}

.fazer>label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2vh;
    font-family: cursive;
    padding: 2px;
    border-radius: 4px;
}

.cardtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.badge {
    border-radius: 5px;
    color: #ffffff;
    padding: 1%;

}
.card:hover {
    box-shadow: 0 8px 16px 0 #f59a4f;
}
.linha {
    margin-top: 5px;

    height: 1px;
    background-color: #d48729;
    border: 1px solid #d48729;
    
}
.btncard {
    display: flex;
    justify-content: flex-end;
    padding: 1px;
    margin: .1em;
}
.btncard button {
    display: flex;
    justify-content: flex-end;
    padding: 1px;
    margin: 4px 3px 0px 1px;
    background-color: #f59a4f;
    transition: ease-in-out .5s;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    border: 1px solid #fdfdfd;
}
.btncard button:hover {
    background-color: #ffffff;
    transition: ease-in-out .5s;
    color: #f59a4f;
    border-radius: 5px;
    border: 1px solid #fdfdfd;
}

.fazer {
    display: block;
    min-width: 31.99%;
}