.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #f59a4f;
    background-color: #f5ebdf;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .5em;
    margin-top: .5em;
}

.dashboard span {
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: 600px;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    padding: 1.5%;
    background-color: #f59a4f;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #f59a4f;
    color: #ffffff;
    transition: ease-in-out .5s;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    outline: auto;

}

.new:hover {
    background-color: #ffffff;
    border: 1px solid #f59a4f;
    color: #f59a4f;
    font-size: 16px;
    font-weight: 600px;
}

table {
    border: 1px solid #f59a4f;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-spacing: .8em;
    width: 100%;
    table-layout: fixed;
    margin: 1% auto;
    background-color: #f5ebdf;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;

}

table thead tr {
    background-color: #f59a4f;
    color: #f5ebdf;
    font-size: 1.5em;
    font-weight: bolder;

}

table thead tr th {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: .5em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: .62em;
    outline: auto;
}

table th,
table td {
    text-align: center;

}

table td .action {
    border: 0;
    padding: 2%;
    margin-right: 2px;
    background-size: cover;

}

table td .action svg {
    vertical-align: middle;

}

table tbody tr td>button {
    background-color: #f59a4f;
    border-radius: 5px;
    transition: ease-in-out .5s;
    color: #ffffff;
}

table tbody tr td button+button {
    background-color: #f59a4f;
    border-radius: 5px;
}

.badge {
    background-color: #47f180;
    border-radius: 5px;
    color: #f5ebdf;
    padding: 2%;
    font-size: 2vh;

}

table tbody tr td button:hover {
    background-color: #ffffff;
    border-radius: 5px;
    color: #f59a4f;
}