.title {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #f59a4f;
    background-color: #f5ebdf;
    padding: .8em;
}

.title span {
    margin-left: 1em;
    font-size: 1.5em;
}

.title button {
    position: relative;
    margin-left: 80% auto;


}

.btneditright {
    border: 0;
    border-radius: 5px;
    color: #f5ebdf;
    margin-left: 92%;
    margin-top: -40px;
    margin-bottom: 10px
   
   
}
.btneditright button {
    border: 0;
    border-radius: 5px;
    color:aliceblue;
    background-color: #f59a4f;
    min-width: 35%;
    height: 15%;
    

}