.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid #f59a4f;
    background-color: #f5ebdf;
    padding: .8em;
}

.title span {
    margin-left: 1em;
    font-size: 1.5em;
}

.title button {
    position: relative;
    margin-left: 80% auto;

    
}

/* .title div button {
    border: 0;background-color: #f59a4f;
    border-radius: 5px;
    color: #f5ebdf;
    min-width: 20%;
    min-height: 20%;
} */