.container-sign {
    margin: 12% auto;
    background-color: rgb(224, 222, 222);
    width: 500px;
    height: 300px;
    max-width: 500px;
    max-height: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-block-end-style: groove;
    border-block-start-style: ridge;
    border-block-end-color: #f59a4f;
    border-block-start-color: #f59a4f;
}

.logo-sign {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 30px;

}

.logo-sign img {
    width: 300px;
    height: 230px;
    max-width: 100%;
    max-height: 90%;
    object-fit: scale-down;
    border-top-left-radius: 30px;
    padding: 20px;
    margin-bottom: 10px;


}

.formulario-sign {
    text-align: center;
    margin: 5px auto;
}

.formulario-sign span {
    display: inline-flex;
    font-size: 1.5em;
    font-weight: 400px;
    margin-bottom: 5px;

}

.formulario-sign input {
    width: 90%;
    max-width: 90%;
    margin: 5px;
    border: 1px solid #f59a4f;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    

}

form button {
    width: 250px;
    max-width: 80%;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #f59a4f;
    font-size: 1.3em;
    font-weight: 600px;
    margin: 8px 0px 0px 0px;
    padding: 5px;
    transition: transform 80ms step-start;
    color: #ffffff;
}

form button:hover {
    background-color: #fdfdfd;
    color: #f59a4f;
    font-weight: 600px;
    border: 1px solid #f59a4f;

}

.formulario-sign a {
    cursor: pointer;
    font-size: 0.8em;
    display: inline-flex;
    margin-top: 5px;
    transition: transform 0.5ms ease-in;

}

.formulario-sign a:hover {
    color: #f59a4f;
    font-weight: 600px;
}

/* box {
    background-color: #f59a4f;
    border-radius: 20px;
    width: 11px;
    height: 11px;
    position: relative;
    animation: mymove 5s infinite;
    
}

@keyframes mymove {
    from {
        right: 0px;
    }

    to {
        left: 10px;
    }
} */