header {
    width: 100%;
    height: 47px;
    background-color: rgb(241, 144, 25);
    color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    position: fixed;
    top: 0;

}

header a {
    font-size: 15px;
    color: dimgray;
    text-decoration: none;
}

header a ::first-letter {
    color: aliceblue;
}

header div a {
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(241, 144, 25);
    padding: 5px 14px;
    border-radius: 4px;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid aliceblue;
    transition: all 0.5s;
}

header div a:hover {
    background-color: aliceblue;
    color: rgb(241, 144, 25);
}

.logo {
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: dimgray;
    font-weight: bold;

}