* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body, #root {
    height: 100%;

}
body{
    font: 14px sans-serif;
}

.app {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*:focus {
    outline: 0;
}