/* 

/*Responsive
 @media screen and (max-width: 700px) {
  .sidebar {
    min-width: 98%;
    height: 12%;
    flex-direction: row-reverse;
  }

  .sidebar div {
    max-width: 15%;
    max-height: 50%;
    margin: 6px auto;
    background-size: cover;
    max-height: 65%;
  }

  .sidebar div img {
    display: none;
  }

  .sidebar a {
    padding: 3%;
    font-size: 12px;
    max-height: 30%;
  }

  .sidebar a svg {
    margin-left: 0.2em;
    width: 25px;
    height: 25px;
  }

  .sidebar a+button {
    padding: 3%;
    font-size: 12px;
    max-height: 30%;

  }


  .sidebar button svg {
    margin-left: 0.2em;
    width: 25px;
    height: 25px;
  }

  .sidebar a:hover,
  button:hover {
    background-color: #ffffff;
    border: 1px solid #f59a4f;
    color: #f59a4f;
    font-size: 16px;
    font-weight: 600px;
  }


  .content {
    margin-right: 200px;
    padding: 9% 15px;
    width: 100%;
  }
}
 
 @media screen and (max-width: 500px) {
 .sidebar {
    min-width: 98%;
    height: 12%;
    flex-direction: row-reverse;
  }

  .sidebar div {
    max-width: 15%;
    max-height: 90%;
    margin: 6px auto;
    background-size: cover;
    max-height: 50%;
  }

  .sidebar div img {
    display: none;
  }

  .sidebar a {
    padding: 2%;
    font-size: 12px;
    max-height: 50%;

  }

  .sidebar a svg {
    margin-left: 0.1em;
    width: 20px;
    height: 20px;
  }

  .sidebar a+button {
    padding: 1%;
    font-size: 12px;
    max-height: 50%;

  }


  .sidebar button svg {
    margin-left: 0.1em;
    width: 20px;
    height: 20px;
  }

  .sidebar a:hover,
  button:hover {
    background-color: #ffffff;
    border: 1px solid #f59a4f;
    color: #f59a4f;
    font-size: 16px;
    font-weight: 600px;
  } 

Title
 .content {
    margin-right: 200px;
    padding: 12% 15px;
    width: 100%;
  } 

}

@media screen and (max-width: 400px) {
   .sidebar {
    min-width: 98%;
    height: 12%;
    flex-direction: row-reverse;
  }

  .sidebar div {
    max-width: 15%;
    max-height: 90%;
    margin: 6px auto;
    background-size: cover;
    max-height: 50%;
  }

  .sidebar div img {
    display: none;
  }

  .sidebar a {
    padding: 1%;
    font-size: 9px;
    max-height: 50%;

  }

  .sidebar a svg {
    margin-left: 0.2em;
    width: 15px;
    height: 15px;
  }

  .sidebar a+button {
    padding: 1%;
    font-size: 10px;
    max-height: 50%;

  }

  .sidebar button svg {
    margin-left: 0.2em;
    width: 15px;
    height: 15px;
  }

  .sidebar a:hover,
  button:hover {
    background-color: #ffffff;
    border: 1px solid #f59a4f;
    color: #f59a4f;
    font-size: 16px;
    font-weight: 600px;
  } 

  Title
    .content {
    margin-right: 200px;
    padding: 16% 15px;
    width: 100%;
  } 
}

 
}
*/